@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Signika:wght@600&display=swap'); 
:root {
    font-family: 'Poppins', sans-serif;
    --main-color: black; --accent-color: #519AC9; --menu-color: #235565; scroll-behavior: smooth;
}
p{
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--main-color);
    font-family: 'Signika', sans-serif;
    font-size: 48px;
}
h6{
    color: var(--accent-color);
    font-size: 12px;
}
h2 {
    color: var(--main-color);
    font-family: 'Signika', sans-serif;
    font-size: 48px;
}
h5{
    color: var(--menu-color);
    font-family: 'Signika', sans-serif;
    font-size: 48px;
}

/*first section*/
.mobile-firstsection {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    margin: 5px;
}

.mobile-header {
    background-position: left;
    background-image: url(../img/background.jpg);
    background-size: cover;
    min-width: 450px;
}

.desktop-container{
    display:flex;
}

.background{
    width:50%;
}

.desktop-firstsection {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    margin: 5px;
}

@media (min-width: 768px){
    .desktop-header{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 768px) {
  .mobile-header {
     display: none;
  } 
  .desktop-header {
      display: block;
   }
}
@media (max-width: 768px) {
  .mobile-header {
     display: block;
  } 
  .desktop-header  {
      display: none;
   }
   .background {
       display: none;
   }
}

/* About Us */
.about-us-container{
    display:flex;
}

.us{
    width:50%
}

@media (max-width: 768px){
    .about-us-container{
        display:block;
    }
    .us{
        width:100%
    }
}
/* static */
.static {
    display:flex;
    justify-content: space-around;
}
@media (max-width: 768px){
    .static {
        display: flex;
        flex-direction: column;
    }
}
/*Controls*/
.button {
    width: 50%;
    padding: 1em 1.2em;
    border: 0.1em solid white;
    margin: 0.7em 0.3em 0.3em 0.3em;
    border-radius: 0.12em;
    color: white;
    text-align: center;
    transition: all 0.7s;
    background-color: var(--menu-color);
}
/* Button scrollUp */
@media (min-width: 768px){
.back_to_top {
  font-size: 40px;
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  line-height: 30px;
  background:  var(--accent-color);
  color: var(--main-color);
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}
}
@media (max-width: 768px){
    .back_to_top{
        position: fixed;
        bottom: 60px;
        right: 40px;
        width: 30px;
        height: 30px;
        text-align: center;
        /* align-content: center; */
        /* line-height: 30px; */
        background:  var(--accent-color);
        color: var(--main-color);
        cursor: pointer;
        border-radius: 2px;
        display: none;
    }   
    .back_to_top:hover {
        background: #e9ebec;
    }

    .back_to_top-show {
    display: block;
    }
}
/* services */
.carousel{
    text-align:center;
}
.carousel h4{
    margin:30px;
}

/* reviews */
.rev {
    text-align: center;
    margin: 70px
}
.img{
    display: flex;
    justify-content: center;
}
.rev h3{
    margin:30px;
}
.partners img{
    padding:50px;
}
.partext{
    text-align: center;
}
.contact{
    display: flex;
}
.contact .address{
    width: 50%;
}
.contact form{
    width: 50%;
}
@media(max-width: 768px){
    .contact{
        display:block;
    }
    .contact .address{
        width: 100%;
    }
    .contact form{
        width: 100%;
    }
}